body {
  margin: 0px;
}

h2 {
  margin: 0px;
  background-color: aliceblue;
  border: 1px solid aliceblue;
  border-radius: 4px;
  padding: 20px;
  flex-grow: 1;
  flex-basis: auto;
  flex-shrink: 1;
  flex: 1;
}

.flex {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}
