body {
  margin: 0px;
}

h2 {
  margin: 0px;
  background-color: aliceblue;
  border: 1px solid aliceblue;
  border-radius: 4px;
  padding: 20px;
}

.flex {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  align-content: flex-start;
  justify-content: center;
}
